# Database
DATABASE_URL=mongodb+srv://<DB_USER>:<DB_PASSWORD>@<CLUSTER_URL>/<DB_NAME>?appName=Cluster0

# Admin Credentials
ADMIN_EMAIL=your_admin_email@example.com
ADMIN_PASSWORD=your_secure_password

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=200d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Redis
REDIS_URL=redis://default:<PASSWORD>@<HOST>:<PORT>

# Server
PORT=8000

# Frontend URL
FRONTEND_URL=http://localhost:5173